html, body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
    margin: 0 auto;
    left: translate(60%, 0);
}